<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pheno</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/scripts/script.js"></script>
</head>
<body>
    <div class="container">
        <h1>Hello! This is pheno framework by James Paul A. Paguirigan</h1>
    </div>
    <script>
        window.addEventListener("load", function() {
            console.log("Hello! This is pheno framework by James Paul A. Paguirigan");
        });
    </script>
</body>
</html>